.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__wrapper {
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: center;
}

.header {
    width: 1160px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo__wrapper {
    background-image: url('../public/logo/header_logo.png');
    height: 67px;
    width: 58px;
}

.logo-icon-text {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.logo-title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    color: white;
    text-align: left;
    margin-left: 6px;
}

.logo-title__decoration {
    font-weight: 700;
    color: #18CFAB;
}

.nav__list {
    width: 660px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    height: inherit;
}

.nav__link {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;  
    color: #FFFFFF99;
    height: inherit;
}

.nav__link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.nav__item__icon {
    cursor: pointer;
}

.section-introduction__wrapper {
    width: 100%;
    height: 1012px;
    height: fit-content;
    background-image: url('../public/image/Sections_background/section-1\(header\).jpg');
    background-attachment: fixed;
    background-size: cover;
}

.section-introduction {
    height: calc(100vh - 120px);
    flex-direction: column;
}

.section-introduction, .nav__link, .nav__item, .logo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-introduction__title {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.title__decoration {
    color: #18CFAB;
}

.section-introduction__text {
    font-family: Montserrat;
    font-size: 78px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin: 22px 0;
}

.section-introduction__tagline {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF99;
    text-align: center;
}

.button__wrapper {
    width: 364px;
    display: flex;
    justify-content:space-between;
    margin-top: 134px;
}

.button {
    height: 63px;
    width: 169px;
    background: #18CFAB;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.button:hover {
    background: #00CBF6;
}
/* кінець section-introduction*/

.options {
    width: 100%;
    height: 377px;
    height: fit-content;
    display: flex;
}

.theme, .support, .setting, .responsive {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.theme, .support {
    width: 25vw;
    height: 377px;
    background: #1C2A33;
}
.setting, .responsive {
    width: 25vw;
    height: 377px;
    background: #18CFAB;
}

.theme-logo__wrapper, .setting-logo__wrapper, .support-logo__wrapper, .responsive-logo__wrapper {
    height: 194px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.theme-description, .setting-description, .support-description, .responsive-description {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;  
}
.theme-description, .support-description {
    color: #18CFAB;
}
.setting-description, .responsive-description {
    color: #FFFFFF;
}
/* кінець options*/

.section-services {
    width: 100%;
    height: 550px;
    flex-direction: column;
}
.section-services__inner {
    width: 1160px;
}

.section-services__title, .section-work__title, .section-news__title, .section-comment-title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: rgba(78, 78, 78, 1);
    margin-bottom: 25px;
}
.line__decoration__wrapp {
    flex-direction: column;
    height: fit-content;
}
.line__decoration {
    height: 2px;
    width: 75px;
    background: rgba(24, 207, 171, 1);
}
.line__decoration:nth-child(odd) {
    margin-bottom: 2px;
    margin-left: 14px;
}

.services-tabs {
    width: inherit;
    height: 87px;
    display: flex;
    margin-top: 69px;
}

.services-tab-item-text {
    height: 72px;
    width: calc(1160px/6);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    background: linear-gradient(0deg, #EDEFEF, #EDEFEF),
linear-gradient(0deg, #F8FCFE, #F8FCFE);
    cursor: pointer;    
}
.services-tab-item-text, .line__decoration__wrapp, .section-services {
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-tab-item-text:hover {
    border: 2px solid rgba(24, 207, 171, 1);
}

.services-tab-item {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-tab-selected-decoration {
    display: none;
}
.services-tab-item.selected .services-tab-item-text{
    color: white;
    background: rgba(24, 207, 171, 1);
}
.services-tab-item.selected .services-tab-selected-decoration {
    display: flex;
}

.services-content-list{
    display: flex;
    margin-top: 8px;
}

.services-content-img {
    width: 192px;
    height: 139px;
}
.services-content-description {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: rgba(119, 119, 119, 1);
    margin-left: 15px;
}
/* кінець section-services*/

.section-purchase {
    width: 100%;
    height: 476px;
    background: linear-gradient(135deg, rgba(53, 52, 52, 0.911), rgba(0, 0, 0, 0.89)), url(../public/image/Sections_background/section-2.jpg);
    background-color: hsl(0, 2%, 57%);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.section-purchase__text {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; 
    color: #18CFAB;
    margin-bottom: 13px;
}

.section-purchase__tagline {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgba(216, 216, 216, 1);
    margin-bottom: 67px;
}
/* кінець section-purchase*/

.section-work {
    min-height: 1212px;
    height: fit-content;
    width: 100%;
    background: rgba(233, 237, 239, 1);
    display: flex;
    justify-content: center;
}

.section-work__inner {
    flex-direction: column;
    min-height: 1212px;
    height: fit-content;
    width: 1160px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 67px;
}

.work-tabs {
    width: 582px;
    height: 58px;
    display: flex;
    margin: 69px 0;
}

.work-tab-item {
    height: 72px;
    padding: 0 15px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
    border: 1px solid rgba(218, 218, 218, 1);
    cursor: pointer;    
}

.work-tab-item.selected {
    border: 2px solid rgba(24, 207, 171, 1);
}

.work-contents {
    height: fit-content;
    width: inherit;
    margin-bottom: 69px;
    display: flex;
    flex-wrap: wrap;
}

.work-content-list {
    height: calc(625px/3);
    width: calc(1160px/4);
    overflow:hidden;
}
.work-content-img {
    height: inherit;
    width: inherit;
}
.work-content-list:hover .work-content-img {
    display: none;
}
.work-content-list__inner {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 6px solid rgba(24, 207, 171, 1);
}

.work-content-icon__wrapper {
    width: 88px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
.work-content-icon-frame {
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    cursor: pointer; 
}
.work-content-icon-frame:hover {
    background-color: #18CFAB;
}

.work-content-icon-frame:hover .work-content-icon rect {
    fill: white;
}
.work-content-icon-frame:hover .work-content-icon path {
    fill: white;
}

.work-content-title {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #18CFAB;
    margin-bottom: 15px;
}
.work-content-description {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: rgba(138, 138, 138, 1);
}

.button:nth-child(5), .work-content-icon-frame, .work-tab-item, .section-purchase {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-text{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 6px;
}
.button__decoration {
    font-size: 35px;
    font-weight: 700;
    padding-right: 15px;
}
/* кінець section-work*/

.section-news {
    height: 960px;
    width: 100%;
}
.section-news__inner {
    flex-direction: column;
    height: fit-content;
    width: 1160px;
}

.news-cards {
    height: fit-content;
    width: inherit;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 49px;
}
.card {
    position: relative;
    height: 275px;
    width: 263px;
    cursor: pointer;
    margin: 20px 0;
}
.card__img {
    height: 208px;
    width: inherit;
}
.card__caption {
    width: inherit;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0 10px 20px;
    color: rgba(113, 113, 113, 1);
}
.card__description {
    width: inherit;
    display: flex;
}
.author, .coments {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: rgba(119, 119, 119, 1);
    padding: 0 18px;
}
.author {
    height: 13px;
    border-right: 1px solid #717171;
}
.card-date__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background: rgba(32, 62, 56, 1);
}
.card-date {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
}

.section-news, .section-news__inner, .card-date__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card-date__wrapper{
    background: rgba(24, 207, 171, 1);
}
.card:hover .card__caption{
    color: rgba(24, 207, 171, 1);
}
/* кінець section-news*/

.section-comments {
    height: 853px;
    width: 100%;
    background: linear-gradient(135deg, rgba(12, 12, 12, 0.425), rgba(27, 27, 27, 0.473)), url(../public/image/Sections_background/section-3.jpg);
    background-color: hsl(0, 2%, 57%);
    background-size: cover;
    background-position: center;
}

.section-comment__inner {
    flex-direction: column;
    height: inherit;
    width: 1160px;
}
.section-comment-title {
    color: rgba(255, 255, 255, 1);
}
.icon__decoration {
    margin-top: 65px;
}

.comment {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: rgba(187, 187, 187, 1);
}
.comment-description{
    height: 85px;
    margin: 15px 0;
}
.section-comments, .section-comment__inner, .icon__decoration, .comment-description, .user-icon-selected__wrapp, .button-back, .button-next, .user-item, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name {
    font-weight: 700;
    color: #18CFAB;
}
.user-position {
    font-size: 13px;
}

.user-icon-selected__wrapp {
    width: 166px;
    height: 166px;
    border-radius: 160px;
    border: 12px solid #1fdab534;
}
.user-icon-selected {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.user-list__wrapper, .user-list {
    height: 120px;
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-back, .button-next {
    height: 31px;
    width: 31px;
    border: 1px solid rgba(187, 187, 187, 1);
    background: none;
}

.button-back:hover, .button-next:hover {
    background: rgba(24, 207, 171, 1);
}
.button-next:hover .button-icon path {
    fill: white;
}
.button-back:hover .button-icon path {
    fill: white;
}

.user-list {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.user-item {
    width: 58px;
    height: 58px;
    border-radius: 60px;
    border: 4px solid #1fdab534;
    transition: 1.2s;
}
.user-item-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.user-item.selected {
    margin-bottom: 26px;
}
/* кінець section-comments*/

.footer {
    height: 121px;
    width: 100%;
    background: rgba(34, 53, 63, 1);
}
.copy {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    color: #AEAEAE;
}
.copy__ingredient {
    color:#18CFAB;
}